<h3>Welcome to Simple Evite! Here is the new person form</h3>
<form action="/persons/submit" method="POST">
	<label for="name">Enter the name of the person</label>
	<input type="text" name="person[name]" value="Enter Person Name" /><br/>
	<label for="birthday">Enter the birthday of the person</label>
  <input type="date" name="person[date_of_birth]" value="Enter birthday" /><br/>
	<label for="gender">Select a gender</label>
  <select id='gender' name="person[gender]" type='text'>
    <option value="<%= 'Male'%>"> <%= 'Male' %> </option>
    <option value="<%= 'Female'%>"> <%= 'Female' %> </option>
    <option value="<%= 'Not want to specify'%>"> <%= 'Not want to specify' %> </option>
  </select>
	<br/>
	<label for="zipcode">Enter the zipcode of the person</label>
  <input type="number" name="person[zipcode]" value="Enter zipcode" /><br/>
	<input type="submit" value="Submit" />
</form>
