<h3>These are the registrations!</h3>
<ol>
  <% i = 0 %>
<% @registrations.each do |reg| %>
	<li>
    ......
    <strong><%= Person.find(reg.person_id).name %></strong>
		(<strong><%= reg.person_id %></strong>)
    .....
    <%= Event.find(reg.event_id).name %>
    (<%= reg.event_id %>)
    .....
    Status:
    <%= reg.status %>
	</li>
<% end %>
</ol>
<a href="/registration/new">Hello go back to add a new one!</a>
